.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  list-style:none;
  margin:0;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0.5em;
  text-align:center;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.45);

  li {
      display:inline;
      padding: 0 2em;
  }
}

a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}
  
a::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom: 3px solid;
  border-radius: 0 0 100% 25%;
}

.active::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 3px solid;
  border-radius: 0 0 100% 25%;
}

a, a::after {
transition: all 0.3s ease-out;
}

a:hover::after {
left: 0;
width: 100%;
}

.content {
  padding-top: 8em;
  position: relative;
}

.welcome {
  font-size: 3em;
  margin-left: 3em;
  //margin-top: 20px;
  //margin-top: 3em;
}

.logo {
  background-image: url("./media/pinkgreen.png");
  background-size: cover;
  width: 175px;
  height: 175px;
}

.caption {
  text-align: center;
  line-height:1em;
  font-size: 10vw;
  letter-spacing: 0.29em;
  position: absolute;
  top:0;
  right:0;
  //height: 100%;
  //display: flex;
  //justify-content: center;
}


.center-content {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .center-content {
    flex-direction: column;
  }
}

.underline{
  border-bottom: 1px solid white;
}


.description{
  width: 60%;
  font-size: 25px;
  margin-left: 48px;
  margin-right: 3em;
  margin-top: 5em;
  letter-spacing: 0.05em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2em;
  display: inline-block;
  height: min-content;
  z-index: 10;
}

.caption-v {
  text-align: center;
  line-height:1em;
  font-size: 5em;
  letter-spacing: 0.29em;
  position: fixed;
  bottom:0;
  right:0;
  height: 90%;
  justify-content: center;
}


.zoom-pic {
  width: 100%;
  height: 200px;
  margin: 1em;
  display: flex;
  justify-content: center;
  position: relative;
}

.zoom-pic-inside {
  height: 100%;
  width: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.tutor {
  background-image: url('./media/korki.png');
  
  &:hover {
      cursor: zoom-in;
      transform: translateY(-120px) scale(2.5);
      position: relative;
      z-index: 999;
  }
}

.diploma {
  background-image: url('./media/coderscamp_diploma_male_2.png');

  &:hover {
      cursor: zoom-in;
      transform: scale(2.5);
      position: relative;
      z-index: 999;
  }
}

.portfolio-caption {
  font-size: 1.5em; 
  letter-spacing: 0.05em; 
  text-align: center;
}

.overview {
  height: 300px;
  display: flex;
  border-top: 2px solid;
  border-bottom: 2px solid;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ph {
  border: solid transparent;
  height: 60%;
  width: 240px;
  transition: all .3s;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &:hover {
      transform: scale(1.15);
      transform-style: border;
      border: solid rgb(0, 235, 223);
  }

  a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-decoration: none;
      z-index: 10;
  }
}

//Portfolio page
.portfolio-content {
  margin: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-box {  
  width: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  //border: dotted pink;
  border-radius: 10px;
  padding: 2em;
  margin-bottom: 2em;
}

.project-photo {
  width: 30%;
  border: solid rgb(0, 235, 223);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5) center/contain no-repeat;
}

.project-text {
  width: 65%;
  span {
    font-size: 1.5em;
  }
}


// Private section
.private-content {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.polaroid {
  width: 300px;
  height: 300px;
  background-color: #fff;
  padding: 20px 20px 60px 20px;
  margin: 60px;
  text-align: center;
  box-shadow: 0 3px 18px #111;
  transform: rotate(5deg);
  transition: all 0.5s ease-in-out;
  span {
    font-family: 'Kalam', cursive;
      color: black;
      font-size: 24px;
    }
  &:nth-child(2) {
    transform: rotate(1deg)
  }
  &:nth-child(3) {
    transform: rotate(-5deg)
  }
  &:nth-child(4) {
    transform: rotate(-7deg)
  }
  &:nth-child(5) {
    transform: rotate(2deg)
  }
  &:hover {
    transform: scale(1.2);
  }
  
}

.inner {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


