.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  list-style: none;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0.5em;
  text-align: center;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.45);
}

.navbar li {
  display: inline;
  padding: 0 2em;
}

@media only screen and (max-width: 500px) {
  .navbar {
    font-size: 12px;
  }
  .navbar li {
    padding: 0 1.5em;
  }
  .navbar a::after {
    border-bottom: 1px solid;
  }
}

a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

a::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom: 3px solid;
  border-radius: 0 0 100% 25%;
}

.active::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 3px solid;
  border-radius: 0 0 100% 25%;
}

a, a::after {
  transition: all 0.3s ease-out;
}

a:hover::after {
  left: 0;
  width: 100%;
}

.img-link::after {
  border: 0;
}

.content {
  padding-top: 8em;
  position: relative;
}

.welcome {
  font-size: 3em;
  margin-left: 3em;
}

.logo {
  background-image: url("./media/pinkgreen.png");
  background-size: cover;
  width: 175px;
  height: 175px;
}

.caption {
  text-align: center;
  line-height: 1em;
  font-size: 10vw;
  letter-spacing: 0.29em;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 500px) {
  .content {
    padding-top: 4em;
  }
  .welcome {
    font-size: 1.5em;
    margin-left: 2em;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .caption {
    position: static;
    font-size: 50px;
  }
  .caption p {
    margin: 0;
  }
}

.center-content {
  display: flex;
  justify-content: center;
}

.underline {
  border-bottom: 1px solid white;
}

.description {
  width: 60%;
  font-size: 25px;
  margin-left: 48px;
  margin-right: 3em;
  margin-top: 5em;
  letter-spacing: 0.05em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2em;
  display: inline-block;
  height: min-content;
  z-index: 10;
}

@media only screen and (max-width: 500px) {
  .description {
    width: 80%;
    margin: 5em 0 0 0;
    padding: 1em;
    font-size: 12px;
  }
  .description ul {
    padding-inline-start: 20px;
  }
}

.caption-v {
  text-align: center;
  line-height: 1em;
  font-size: 5em;
  letter-spacing: 0.29em;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 90%;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .caption-v {
    display: none;
  }
}

.zoom-pic {
  width: 100%;
  height: 200px;
  margin: 1em;
  display: flex;
  justify-content: center;
  position: relative;
}

.zoom-pic-inside {
  height: 100%;
  width: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 500px) {
  .zoom-pic {
    height: 150px;
    margin: 0;
  }
  .zoom-pic-inside {
    width: 250px;
    transition-property: none;
  }
  .tutor:hover {
    hover: none;
  }
}

.softwaresupplogo {
  width: 40%;
  border-radius: 5px;
  margin: 20px 0;
}

@media only screen and (max-width: 500px) {
  .softwaresupplogo {
    margin: 10px 0;
  }
}

.stack-icon {
  font-size: 50px;
  margin-right: 16px;
}

@media only screen and (max-width: 500px) {
  .stack-icon {
    margin-right: 12px;
    font-size: 20px;
  }
}

.tutor {
  background-image: url("./media/korki.png");
}

.tutor:hover {
  cursor: zoom-in;
  transform: translateY(-120px) scale(2.5);
  position: relative;
  z-index: 999;
}

.diploma:hover {
  cursor: zoom-in;
  transform: scale(2.5);
  position: relative;
  z-index: 999;
}

.portfolio-content {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-box {
  width: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2em;
  margin-bottom: 2em;
}

.project-photo {
  width: 30%;
  border: solid #00ebdf;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5) center/contain no-repeat;
}

.project-text {
  width: 65%;
  font-size: 22px;
}

@media only screen and (max-width: 500px) {
  .portfolio-content {
    margin-top: 5em;
  }
  .project-box {
    flex-direction: column;
  }
  .project-photo {
    width: 100%;
    height: 200px;
  }
  .project-text {
    width: 100%;
    font-size: 12px;
  }
  .project-text span {
    display: inline-block;
    width: 100%;
  }
}

.private-content {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.polaroid {
  width: 300px;
  height: 300px;
  background-color: #fff;
  padding: 20px 20px 60px 20px;
  margin: 60px;
  text-align: center;
  box-shadow: 0 3px 18px #111;
  transform: rotate(5deg);
  transition: all 0.5s ease-in-out;
}

.polaroid span {
  font-family: 'Kalam', cursive;
  color: black;
  font-size: 24px;
}

.polaroid:nth-child(2) {
  transform: rotate(1deg);
}

.polaroid:nth-child(3) {
  transform: rotate(-5deg);
}

.polaroid:nth-child(4) {
  transform: rotate(-7deg);
}

.polaroid:nth-child(5) {
  transform: rotate(2deg);
}

.polaroid:hover {
  transform: scale(1.2);
}

.inner {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
  .private-content {
    margin-top: 60px;
  }
  .polaroid {
    width: 225px;
    height: 225px;
    margin: 15px 15px 45px 15px;
  }
  .polaroid span {
    font-size: 18px;
  }
  .inner {
    width: 225px;
    height: 225px;
  }
}
